<div class="container-todo-list">

    <ng-template *ngIf="ticketList.length == 0; else ticketsShow;">
        <div class="alert alert-info"> aucune Ticket n'existe, pouvez-vous l'ajouter !</div>
    </ng-template>

    <ng-template #ticketsShow>

        <div class="row">
            <div class="col-lg-4" *ngFor="let ticket of ticketList">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ticket.name |titlecase}}</mat-card-title>
                        <mat-card-subtitle color="primary">{{ticket.type | titlecase}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p [hidden]="ticket.hideDesc">
                            {{ticket.description}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary"
                                (click)="ticket.toggleDesc()">{{ ticket.hideDesc ? 'Afficher' : 'Cacher'}} description
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </ng-template>

</div>
