<h1>Race</h1>
<p>
    L'observable à émettre en premier est utilisé
</p>
<h3>Exemple code</h3>
<div class="row">
    <div class="col">
        <p>
            <code>
                {{"const obser1 = interval(2000).pipe(take(3), mapTo('First , emet chaque 2 seconde'));"}}
                {{"const obser2 = interval(1000).pipe(take(3), mapTo('First , emet chaque 1 seconde'));"}}
                {{"const obser3 = interval(3000).pipe(take(3), mapTo('First , emet chaque 3 seconde'));"}}
                {{"race(obser1, obser2, obser3).subscribe(res => console.log('race result is ', res));"}}
            </code>
        </p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col">
        emet chaque 1 seconde<br>
        emet chaque 1 seconde<br>
        emet chaque 1 seconde<br>
    </div>
</div>
