<p class="p-3">
    <strong>Description :</strong><br><br>
    Ces opérateurs permettent la création d'un observable à partir de presque tout,des génériques aux cas d'utilisation
    spécifiques, vous êtes libre et encouragé de tout transformer en flux.
</p>
<div class="container pb-4">
    <mat-accordion>

        <!--BEGIN New Observable-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Opérateur : new Observable</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-7">
                    <div [innerHTML]="demos.demoNewObs | language : 'javascript'  | markdown"></div>
                </div>
                <div class="col-4">
                    <h4>Result</h4>
                    <p>{{observableCreateResult}} </p>
                </div>
            </div>
        </mat-expansion-panel>
        <!--END New Observable-->


        <!--BEGIN of-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Opérateur : of</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-7">
                    <div [innerHTML]="demos.demoOf | language : 'javascript'  | markdown"></div>
                </div>
                <div class="col-4">
                    <h4>Result</h4>
                    <p>{{observableOfResult}} </p>
                </div>
            </div>
        </mat-expansion-panel>
        <!--END of-->

        <!--BEGIN from-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Opérateur : from</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-7">
                    <div [innerHTML]="demos.demoFrom | language : 'javascript'  | markdown"></div>
                </div>
                <div class="col-4">
                    <h4>Result</h4>
                    <p>{{observableFromResult}} </p>
                </div>
            </div>
        </mat-expansion-panel>
        <!--END from-->

        <!--BEGIN fromEvent-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Opérateur : fromEvent</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-7">
                    <div [innerHTML]="demos.demoFromEvent | language : 'javascript'  | markdown"></div>
                </div>
                <div class="col-4">
                    <button mat-raised-button #btnFromEvent> cliquer et voir result</button>
                    <h4>Result</h4>
                    <p>{{observableFromEventResult}} </p>
                </div>
            </div>
        </mat-expansion-panel>
        <!--END fromEvent-->

        <!--BEGIN Interval-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Opérateur : Interval</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-7">
                    <div [innerHTML]="demos.demoInterval | language : 'javascript'  | markdown"></div>
                </div>
                <div class="col-4">
                    <button mat-raised-button (click)="startInterval()"> start interval</button>
                    <h4>Result</h4>
                    <p>{{observableIntervalResult}} </p>
                </div>
            </div>
        </mat-expansion-panel>
        <!--END Interval-->

        <!--BEGIN timer-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Opérateur : timer</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-7">

                    <div [innerHTML]="demos.demoTimer | language : 'javascript'  | markdown"></div>
                </div>
                <div class="col-4">
                    <button mat-raised-button (click)="startTimer()"> start timer</button>
                    <h4>Result</h4>
                    <p>{{observableTimerResult}} </p>
                </div>
            </div>
        </mat-expansion-panel>
        <!--END timer-->

        <!--BEGIN range-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Opérateur : range</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-7">

                    <div [innerHTML]="demos.demoRange | language : 'javascript'  | markdown"></div>
                </div>
                <div class="col-4">
                    <button mat-raised-button (click)="startRange()"> start range</button>
                    <h4>Result</h4>
                    <p>{{observableRangeResult}} </p>
                </div>
            </div>
        </mat-expansion-panel>
        <!--END range-->
    </mat-accordion>
</div>

