<h1>Buffer</h1>
<p>
    Met en mémoire tampon les valeurs observables source ( Recueillez les valeurs de sortie..) jusqu'à ce que
    fermetureNotifier émette.
    <strong>Chemin du component : src/app/3_reactive-programming-Rxjs/operator-mixed/transformation/buffer</strong>
</p>

<h3>Exemple code</h3>
<div class="row">
    <div class="col">
        <p>

            <code>
                {{" const fermetureNotifier = fromEvent(document, 'click');"}}<br>
                {{" const source = interval(1000);"}}<br>
                {{" const result = source.pipe(buffer(fermetureNotifier));"}}<br>
                {{"result.subscribe(res => console.log('Result :', res));"}}<br>

            </code>
        </p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col">
        <strong>mon Exemple avec trois clique sur le document</strong>
        Result :  [0, 1]<br>
        Result :  [2, 3, 4]<br>
        Result :  [5, 6, 7, 8]<br>
    </div>
</div>




