<p>
    Pipe est une méthode sur Observable utilisée pour la composition des opérateurs. <br>
    pipe a été introduit dans RxJS dans la v5.5 .<br><br>
    <strong>Chemin du components : src/app/3_reactive-programming-Rxjs/pipe</strong>
</p>
<mat-divider></mat-divider>
<div class="row">
    <div class="col-6">
        <h4>Sans la méthode d'observable pipe</h4>
        <div [innerHTML]="demos.demoWithoutPipe | language : 'javascript'  | markdown"></div>
    </div>
    <div class="col-6">
        <h4>Avec la méthode pipe</h4>
        <div [innerHTML]="demos.demoWithPipe | language : 'javascript'  | markdown"></div>
    </div>
    <mat-divider></mat-divider>
    <div class="col-12">
        <p>
            Même sortie, même concept (opérateurs de composition), syntaxe différente.
            pipe offre les avantages suivants:

            Il nettoie Observable.prototype en supprimant les opérateurs ,Cela rend la bibliothèque RxJS plus shakeable
            Il facilite l'écriture et l'utilisation d'opérateurs tiers (puisque vous n'avez pas à vous soucier de
            patcher Observable.prototype)..

        </p>
    </div>
</div>
