<div class="container p-3">

    <p class="p-3">
        <strong>Description :</strong><br><br>
        Un sujet est un type spécial d'Observable qui partage un seul chemin d'exécution entre les observateurs.<br>
        Vous pouvez penser à cela comme un seul orateur parlant dans un microphone dans une pièce pleine de monde.<br>
        Leur message (le sujet) est transmis à de nombreuses personnes (multidiffusion) (les observateurs) à la fois. <br>
        C'est la base de la multidiffusion. Les observables typiques seraient comparables à une conversation en tête-à-tête.<br>

    </p>
    <mat-accordion>
        <!--BEGIN Subject-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Subject
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-subject></app-subject>
        </mat-expansion-panel>
        <!--END Subject-->
        <!--BEGIN AsyncSubject-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    AsyncSubject
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-async-subject></app-async-subject>
        </mat-expansion-panel>
        <!--END AsyncSubject -->

        <!--BEGIN BehaviorSubject-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    BehaviorSubject
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-behavior-subject></app-behavior-subject>
        </mat-expansion-panel>
        <!--END BehaviorSubject -->

        <!--BEGIN ReplaySubject-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ReplaySubject
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-replay-subject></app-replay-subject>
        </mat-expansion-panel>
        <!--END ReplaySubject-->
    </mat-accordion>
</div>


