<div class="container-todo-list">
    <!--BEGIN  projection de contenu by element tag-->
    <ng-content select="h3"></ng-content>
    <!--END  projection de contenu by element tag-->

    <!--BEGIN  projection de contenu by class-->
    <ng-content select=".hello-world"></ng-content>
    <!--END  projection de contenu by class -->


    <div class="row">


        <ng-template *ngIf="ticketList.length == 0; else ticketsShow;">
            <div class="alert alert-info"> aucune Ticket n'existe, pouvez-vous l'ajouter !</div>
        </ng-template>

        <ng-template #ticketsShow>

            <div class="col-lg-4" *ngFor="let ticket of ticketList">
                <app-ticket [ticket]="ticket"></app-ticket>
            </div>

        </ng-template>

    </div>

    <div class="container-narrow">

        <div class="masthead">
            <ul id="step5" class="nav nav-pills pull-right">
                <li><a href="https://github.com/usablica/intro.js/tags"><i class='icon-black icon-download-alt'></i> Download</a></li>
                <li><a href="https://github.com/usablica/intro.js">Github</a></li>
                <li><a href="https://twitter.com/usablica">@usablica</a></li>
            </ul>
            <h3 class="muted">Intro.js</h3>
        </div>

        <hr>

        <div class="jumbotron">
            <h1 id="step1">Without Element</h1>
            <p id="step4" class="lead">This example shows the introductions without focusing on elements.</p>
        </div>

        <hr>

        <div class="row-fluid marketing">
            <div id="step2" class="span6">
                <h4>Section One</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>

                <h4>Section Two</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>

                <h4>Section Three</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>
            </div>

            <div id="step3" class="span6">
                <h4>Section Four</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>


                <h4>Section Five</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>

                <h4>Section Six</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis augue a neque cursus ac blandit orci faucibus. Phasellus nec metus purus.</p>
            </div>
        </div>

        <hr>

    </div>

</div>
