<div class="container container-todo">
    <h1>Pipe integré</h1>
    <div class="row p-1">

        <mat-card class="col-3 m-auto">
            <mat-card-header>
                <mat-card-title>Title case</mat-card-title>
                <mat-card-subtitle>Transforme le texte en casse de titre. Met en majuscule la première lettre de chaque
                    mot.
                </mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <strong>{{titleCase}}</strong>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Result:</strong>&nbsp;&nbsp; {{'issam raouf' | titlecase}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card class="col-3 m-auto">
            <mat-card-header>
                <mat-card-title>Upper case</mat-card-title>
                <mat-card-subtitle>Transforme le texte en majuscule.</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <strong>{{upperCase}}</strong>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Result:</strong>&nbsp;&nbsp; {{'issam raouf' | uppercase}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card class="col-3 m-auto">
            <mat-card-header>
                <mat-card-title>Lower case</mat-card-title>
                <mat-card-subtitle>Transforme le texte en minuscules.</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <strong>{{lowerCase}}</strong>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Result:</strong>&nbsp;&nbsp; {{'ISSAM RAOUF' | lowercase}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row p-1">

        <mat-card class="col-3 m-auto">
            <mat-card-header>
                <mat-card-title>I18nSelectPipe</mat-card-title>
                <mat-card-subtitle>Sélecteur générique qui affiche la chaîne qui correspond à la valeur actuelle.<br>
                    <strong>inviteMap:</strong>{{"{male: 'Invite-le.', female: 'Invite-la.', other: 'Invite-les.'}"}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <strong>{{i18NSelect}}</strong>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Result:</strong>&nbsp;&nbsp; {{'other' | i18nSelect:inviteMap}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-3 m-auto">
            <mat-card-header>
                <mat-card-title>I18nPluralPipe</mat-card-title>
                <mat-card-subtitle>Mappe une valeur à une chaîne qui pluralise la valeur selon les règles locales.
                </mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <strong>{{i18NPlural}}</strong>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Result:</strong>&nbsp; {{ '2' | i18nPlural: messageMapping }}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card class="col-3 m-auto">
            <mat-card-header>
                <mat-card-title>Json</mat-card-title>
                <mat-card-subtitle>inverse une valeur dans sa représentation au format JSON. Utile pour le débogage.
                </mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <strong>{{json}}</strong>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Result:</strong>{{inviteMap | json}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="row p-1">

        <mat-card class="col-3 m-auto">
            <mat-card-header>
                <mat-card-title>number (DecimalPipe)</mat-card-title>
                <mat-card-subtitle>transforme un nombre en une chaîne, formatée selon les règles de paramètres régionaux
                    qui déterminent la taille et le séparateur du groupe.<br>
                    <strong>numberFt = 8.718281828459045</strong>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <strong>{{decimalPipe}}</strong>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Result:</strong>&nbsp;&nbsp; {{numberFt | number:'1.1-6'}}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

    </div>

</div>
