<h1>endWith</h1>
<p>
    Émettre des valeurs données à la fin.
</p>
<h3>Exemple balabla :</h3>
<p>
    <strong> observable1</strong> va émettre : 1 ,puis 2 , puis 3 et lance complete <br><br>
    <strong>observable1.pipe(endWidth(999)); </strong>=> result<br><br>
    1 <br>
    2 <br>
    3 <br>
    999 <br>

</p>
<h3>Exemple code</h3>
<div class="row">
    <div class="col">
        <p>
            <code>
                {{" const obser = of('Issam', 'Raouf','Hello  ');"}}<br>
                {{" obser.pipe(endWith('And','Goodbye')).subscribe( res => console.log('res endWith', res));"}}<br>


            </code>
        </p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col">
        Issam <br>
        Raouf <br>
        Hello <br>
        and <br>
        Goodbye <br>
    </div>
</div>
