<h1>SkipWhile</h1>

<p>N'émet que les premières valeurs de comptage émises par la source Observable.!</p>

<h3>Exemple code</h3>

<div class="row">
    <div class="col">
        <p>
            <code>
                {{"const source = interval(1000).pipe(take(2));"}}<br>
                {{"source.subscribe(res => console.log('Result :', res));"}}<br>
            </code>
        </p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col">
        Result : 0<br>
        Result : 1<br>
    </div>
</div>
