<h1>ReplaySubject</h1>
<p>
    Une variante de Subject qui "rejoue" ou émet d'anciennes valeurs à de nouveaux abonnés.
    Il met en mémoire tampon un nombre défini de valeurs et émettra ces valeurs immédiatement à tous les nouveaux
    abonnés
    en plus d'émettre de nouvelles valeurs aux abonnés existants.<br><br>
    <strong>Chemin du component : src/app/3_reactive-programming-Rxjs/operator-mixed/subjects/replay-subject</strong>
</p>
<h3>Exemple code</h3>
<div [innerHTML]="demos.demoReplaySubject | language: 'javascript' |markdown"></div>



