@import '../assets/styles/variables';

.app-container {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .mat-drawer-container {
    height: 100vh;
  }
  .mat-expansion-panel-spacing {
    margin: 0 !important;
  }
  .mat-expansion-panel {
    border-radius: 0;
  }

  .icon-menu {
    margin-right: 10px;
  }

  .side-nav {
    width: 300px;

  }

  .mat-list-item {

    a {
      display: block;
      text-decoration: none;
      color: rgba(0, 0, 0, .87);

      &.active {
        color: $color-primary;
      }
    }

    &:hover {
      cursor: pointer;
      background: #f2f2f2;
    }


  }
}
