<div class="app-container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button class="icon-menu" (click)="sidenav.toggle()">
                <mat-icon>{{ sidenav.opened ? 'close' : 'menu'}}</mat-icon>
            </button>
            <h1>Tour concrete et résumé de ANGULAR</h1>
        </mat-toolbar-row>
    </mat-toolbar>


    <!-- BEGIN sidenav-container -->
    <mat-sidenav-container>

        <!-- BEGIN sidenav -->
        <mat-sidenav class="side-nav" #sidenav [mode]="'side'">
            <mat-accordion>
                <!-- BEGIN expansion-panel Note general-->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Initial
                    </mat-expansion-panel-header>

                    <mat-list role="list">
                        <mat-list-item role="listitem"><a routerLink="./notes-general" routerLinkActive="active"
                                                          (click)="sidenav.toggle()">Notes</a>
                        </mat-list-item>
                    </mat-list>

                </mat-expansion-panel>
                <!-- END expansion-panel note  general -->

                <!-- BEGIN expansion-panel components -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Components
                    </mat-expansion-panel-header>

                    <mat-list role="list">
                        <mat-list-item role="listitem"><a routerLink="./content-projection" routerLinkActive="active"
                                                          (click)="sidenav.toggle()">Content Projection</a>
                        </mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="./lifecycle-hooks" routerLinkActive="active"
                                                          (click)="sidenav.toggle()">Lifecycle (hooks)</a>
                        </mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="./view-content-child-children"
                                                          routerLinkActive="active" (click)="sidenav.toggle()">ViewChild
                            & CententChild..</a></mat-list-item>
                    </mat-list>

                </mat-expansion-panel>
                <!-- END expansion-panel  components -->

                <!-- BEGIN expansion-panel Directives -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Directives
                    </mat-expansion-panel-header>


                    <mat-list role="list">
                        <mat-list-item role="listitem"><a routerLink="./directives-important-exist"
                                                          routerLinkActive="active" (click)="sidenav.toggle()">Directives
                            built-in</a></mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="./directives-custom" routerLinkActive="active"
                                                          (click)="sidenav.toggle()">Directives personnalisées</a>
                        </mat-list-item>
                    </mat-list>

                </mat-expansion-panel>
                <!-- END expansion-panel  Directives -->

                <!-- BEGIN expansion-panel reactive programming -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Reactive Programming Rxjs
                    </mat-expansion-panel-header>


                    <mat-list role="list">
                        <mat-list-item role="listitem"><a routerLink="./reactive-programming" routerLinkActive="active"
                                                          (click)="sidenav.toggle()">Reactive programming</a>
                        </mat-list-item>
                    </mat-list>

                </mat-expansion-panel>
                <!-- END expansion-panel  Directives -->

                <!-- BEGIN expansion-panel Pipes -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Pipes
                    </mat-expansion-panel-header>

                    <mat-list role="list">
                        <mat-list-item role="listitem"><a routerLink="./pipes-important-exist" routerLinkActive="active"
                                                          (click)="sidenav.toggle()">Pipes built-in</a>
                        </mat-list-item>
                        <mat-list-item role="listitem"><a routerLink="./pipes-custom" routerLinkActive="active"
                                                          (click)="sidenav.toggle()">Pipes custom</a></mat-list-item>

                    </mat-list>

                </mat-expansion-panel>
                <!-- END expansion-panel  Pipes -->


                <!-- BEGIN expansion-panel Forms -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Forms
                    </mat-expansion-panel-header>

                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <a routerLink="./reactive-forms" routerLinkActive="active" (click)="sidenav.toggle()">Reactive
                                forms</a>

                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <a routerLink="./template-driven-form" routerLinkActive="active" (click)="sidenav.toggle()">
                                Template driven form</a>
                        </mat-list-item>
                    </mat-list>

                </mat-expansion-panel>
                <!-- END expansion-panel  Forms -->


                <!-- BEGIN expansion-panel  Dependency injection -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Dependency injection
                    </mat-expansion-panel-header>

                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <a routerLink="./dependency-injection" routerLinkActive="active" (click)="sidenav.toggle()">
                                Dependency Injection</a>
                        </mat-list-item>
                    </mat-list>


                </mat-expansion-panel>
                <!-- END expansion-panel  Dependency injection -->

                <!-- BEGIN expansion-panel  Http -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Http module
                    </mat-expansion-panel-header>

                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <a routerLink="./http-module" routerLinkActive="active" (click)="sidenav.toggle()">Crud</a>
                        </mat-list-item>
                    </mat-list>

                </mat-expansion-panel>
                <!-- END expansion-panel  HTTP -->

                <!-- BEGIN expansion-panel  Routing -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Routing
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <a routerLink="./routing" routerLinkActive="active" (click)="sidenav.toggle()">Routing</a>
                        </mat-list-item>
                    </mat-list>

                </mat-expansion-panel>
                <!-- END expansion-panel Routing -->


                <!-- BEGIN expansion-panel  Routing -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Testing
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <a routerLink="./testing" routerLinkActive="active" (click)="sidenav.toggle()">Testing</a>
                        </mat-list-item>
                    </mat-list>

                </mat-expansion-panel>
                <!-- END expansion-panel Routing -->

            </mat-accordion>
        </mat-sidenav>
        <!-- END sidenav -->

        <!-- BEGIN sidenav content -->
        <mat-sidenav-content>

            <app-markdown-docs></app-markdown-docs>
            <div id="demo">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
        <!-- END sidenav content -->

    </mat-sidenav-container>
    <!-- END sidenav-container -->

</div>
