<div class="container container-todo">
    <h1>Reactive programming Rxjs </h1>

    <mat-tab-group>
        <mat-tab label="Creation">
            <app-creation></app-creation>
        </mat-tab>
        <mat-tab label="Pipe">
            <app-pipe></app-pipe>
        </mat-tab>
        <mat-tab label="Operator mixes">
        <app-operator-mixed></app-operator-mixed>
        </mat-tab>
        <mat-tab label="Subject">
            <app-subjects></app-subjects>
        </mat-tab>
    </mat-tab-group>

</div>
