<div class="container container-todo">
    <app-todo-form (sendTicket)="addTicket($event)"></app-todo-form>


    <div class="container">
        <h1> Reactive programming example </h1>
        <mat-list role="list">
            <mat-list-item role="listitem" class="text-center">
                <div class="col-6"><p><strong>Operator</strong></p></div>
                <div class="col-6">
                    <p><strong>Result</strong></p>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item role="listitem">
                <div class="col-6"><p>of('Hello form obervable of')</p></div>
                <div class="col-6">
                    <p>{{observableOfResult}} </p>
                </div>
            </mat-list-item>

            <mat-list-item role="listitem">
                <div class="col-6"><p>from(['Issam', 'Raouf', 'is', 'a ', 'lead', 'developer'])</p></div>
                <div class="col-6">
                    <p>{{observableFromResult}} </p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item role="listitem">
                <div class="col-6"><p>fromEvent(document, 'click')<br>
                    cliquer sur n'importe où sur la page (document) pour voir result
                </p></div>
                <div class="col-6">
                    <p>{{observableFromEventResult}} </p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item role="listitem">
                <div class="col-6"><p>interval(2000)<br>
                </p></div>
                <div class="col-6">
                    <p>{{observableIntervalResult}} </p>
                </div>
            </mat-list-item>


        </mat-list>


    </div>

    <app-todo-list [ticketList]="ticketListMook"></app-todo-list>
</div>
