<h1>Filter</h1>
<p>Filtrer les éléments émis par la source Observable en n'émettant que ceux qui satisfont un prédicat spécifié. .</p>

<h3>Exemple code</h3>

<div class="row">
    <div class="col">
        <p>
            <code>
                {{" const source = of(1, 2, 3, 4, 5, 6);"}}<br>
                {{" const result = source.pipe(filter(num => num % 2 === 0));"}}<br>

                {{" result.subscribe(res => console.log('Result : ', res));"}}<br>

            </code>
        </p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col">
        Result : 2<br>
        Result : 4<br>
        Result : 6 <br>
    </div>
</div>
