<h1>DistinctUntilKeyChanged</h1>
<p>Renvoie un observable qui émet tous les éléments émis par l'observateur source qui sont distincts par comparaison de
    l'élément précédent,
    à l'aide d'une propriété accessible à l'aide de la clé fournie pour vérifier si les deux éléments sont
    distincts.<br><br>

    <strong>Chemin du component :
        src/app/3_reactive-programming-Rxjs/operator-mixed/filtering/distinct-until-key-changed</strong>

</p>

<h3>Exemple code</h3>
<div [innerHTML]="demos.demoDistinctUntilKeyChanged|language:'javascript'|markdown"></div>
