<h1>combineLatest</h1>
<p>
    Quand un observable émet une valeur, émet la dernière valeur émise par chacun.<br><br>
    <strong>Chemin du component : src/app/3_reactive-programming-Rxjs/operator-mixed/combination/combinelatest</strong>
</p>
<h3>Exemple balabla :</h3>
<p>
    <strong>observable1</strong> va émettre => <strong>'1'</strong> , aprés 1 seconde va émettre
    <strong>'8'</strong> <br>
    <strong>observable2</strong> va émettre => <strong>'11'</strong> , aprés 3 secondes va émettre <strong>'13'</strong>
    , encore
    aprés 3 secondes va émettre <strong>'18</strong><br><br>
</p>
<div [innerHTML]="demos.demoCombineLatestBlabla | language : 'javascript'  | markdown"></div>

<h3>Exemple code</h3>
<div [innerHTML]="demos.demoCombineLatest | language : 'javascript'  | markdown"></div>
