<h1>DelayWhen</h1>
<p>
    Retarde l’émission d’objets de la source Observable d’une durée donnée, déterminée par les émissions d’un autre Observable
</p>
<h3>Exemple code</h3>
<div class="row">
    <div class="col">
        <p>
            <code>
                {{"const source = interval(1000).pipe(take(5));"}}<br>
                {{"const result = source.pipe(delayWhen(() => timer(5000)));"}}<br>
                {{"result.subscribe(res => console.log('Result :',res));"}}<br>
            </code>
        </p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col">
        Result : 0 <br>
        Result : 1 <br>
        Result : 2 <br>
        Result : 3 <br>
        Result : 4 <br>
    </div>
</div>




