<h1>Pairwise</h1>
<p>
    Émettre les valeurs précédentes et actuelles sous forme de tableau.
</p>
<h3>Exemple code</h3>
<div class="row">
    <div class="col">
        <p>
            <code>
                {{"const observ = of({name: 'issam raouf', job: 'Lead developer'},"}}
                {{"{name: 'khalil boukhari', job: 'full stack developer'},"}}
                {{"{name: 'Fouzi ben tounssi', job: 'Architect technique'}"}}
                {{").pipe("}}
                {{"pairwise()"}}
                {{");"}}

            </code>
        </p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col">
        {{"[{name: 'issam raouf', job: 'Lead developer'},"}}
        {{"{name: 'khalil boukhari', job: 'full stack developer'}]}"}}<br><br><br>
        {{"[{name: 'khalil boukhari', job: 'full stack developer'},"}}
        {{"{name: 'Fouzi ben tounssi', job: 'Architect technique'}]"}}

    </div>
</div>
