
<h1>Every</h1>
<p>
    Si toutes les valeurs transmettent le prédicat avant la fin, émettent true, sinon false.
</p>

<h3>Exemple code</h3>
<div class="row">
    <div class="col">
        <p>
            <code>
                {{"const observ = of(4, 8, 9, 3);"}}<br>
                {{"observ.pipe(every(val => val % 2 === 0)).subscribe(res => console.log('Result : ', res));"}}

            </code>
        </p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col">
        Result : false
    </div>
</div>
