<div class="container p-3">

    <mat-accordion>
        <!--BEGIN MAP & FILTER-->
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Map & Filter
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>
                La méthode <strong>map</strong> d'Observable ,elle prend des valeurs en entrée, les transforme et les
                renvoie en sortie.<br/><br/>
                La méthode <strong>filter</strong> d'Observable , elle prend des valeurs en entrée, et filterer avec des
                conditions puis return les result.
            </p>
        </mat-expansion-panel>
        <!--END MAP & FILTER-->

        <!--BEGIN Combination-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Combination
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <p>Les opérateurs de combinaison permettent la jonction d'informations provenant de plusieurs observables.
                <br>
                L'ordre, le temps et la structure des valeurs émises est la principale variation parmi ces opérateurs.
            </p>
            <mat-divider></mat-divider>
            <app-combination></app-combination>

        </mat-expansion-panel>
        <!--END Combination-->


        <!--BEGIN CONDITIONAL-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Conditional
                </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>Pour les cas d'utilisation qui dépendent d'une condition spécifique à remplir, ces opérateurs font
                l'affaire.</p>
            <mat-divider></mat-divider>
            <app-conditional></app-conditional>
        </mat-expansion-panel>
        <!--END CONDITIONAL-->

        <!--BEGIN ERROR-HANDLING-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Error Handling
                </mat-panel-title>
                <mat-panel-description>
                    Les erreurs sont un effet secondaire malheureux du développement.
                    Ces opérateurs fournissent des moyens efficaces de gérer correctement les erreurs et de relancer la
                    logique, le cas échéant.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-error-handling></app-error-handling>
        </mat-expansion-panel>
        <!--END ERRO-HANDLING -->


        <!--BEGIN MULTICASTING-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Multicasting
                </mat-panel-title>
                <mat-panel-description>
                    Dans RxJS, les observables sont froids ou unicast par défaut.
                    Ces opérateurs peuvent effectuer une diffusion à chaud ou multidiffusion observable, permettant aux
                    effets secondaires d'être partagés entre plusieurs abonnés.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-multicasting></app-multicasting>
        </mat-expansion-panel>
        <!--END MULTICASTING -->

        <!--BEGIN Filtering-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filtering
                </mat-panel-title>
                <mat-panel-description>
                    Dans une approche push, choisir et choisir comment et quand accepter des articles est important.
                    Ces opérateurs fournissent des techniques pour accepter des valeurs provenant d'une source
                    observable et gérer la contre-pression.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-filtering></app-filtering>
        </mat-expansion-panel>
        <!--END Filtering -->

        <!--BEGIN TRANSFORMATION>-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Transformation
                </mat-panel-title>
                <mat-panel-description>
                    La transformation des valeurs lors de leur passage dans la chaîne d'opérateurs est une tâche
                    courante.
                    Ces opérateurs fournissent des techniques de transformation pour presque tous les cas d'utilisation
                    que vous rencontrerez.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-transformation></app-transformation>
        </mat-expansion-panel>
        <!--END TRANSFORMATION -->

        <!--BEGIN UTIL-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Util
                </mat-panel-title>
                <mat-panel-description>
                    De la journalisation, la gestion des notifications à la configuration des planificateurs,
                    ces opérateurs fournissent des utilitaires utiles dans votre boîte à outils observable.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-util></app-util>
        </mat-expansion-panel>
        <!--END TRANSFORMATION -->

    </mat-accordion>
</div>
