<div class="container p-3">

    <mat-accordion>
        <!--BEGIN MAP & FILTER-->
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Map & Filter
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>
                La méthode <strong>map</strong> d'Observable ,elle prend des valeurs en entrée, les transforme et les
                renvoie en sortie.<br/><br/>
                La méthode <strong>filter</strong> d'Observable , elle prend des valeurs en entrée, et filterer avec des
                conditions puis return les result.
            </p>
        </mat-expansion-panel>
        <!--END MAP & FILTER-->

        <!--BEGIN Combination-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Combination
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>

            <app-combination></app-combination>

        </mat-expansion-panel>
        <!--END Combination-->



        <!--BEGIN CONDITIONAL-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Conditional
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-conditional></app-conditional>
        </mat-expansion-panel>
        <!--END CONDITIONAL-->


        <!--BEGIN ERROR-HANDLING-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Error Handling
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-error-handling></app-error-handling>
        </mat-expansion-panel>
        <!--END ERRO-HANDLING -->


        <!--BEGIN MULTICASTING-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Multicasting
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-multicasting></app-multicasting>
        </mat-expansion-panel>
        <!--END MULTICASTING -->

        <!--BEGIN Filtering-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filtering
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-filtering></app-filtering>
        </mat-expansion-panel>
        <!--END Filtering -->

        <!--BEGIN TRANSFORMATION>-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Transformation
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-transformation></app-transformation>
        </mat-expansion-panel>
        <!--END TRANSFORMATION -->

    </mat-accordion>
</div>
