<div class="container p-3">

    <mat-accordion>
        <!--BEGIN MAP & FILTER-->
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Map & Filter
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>
                La méthode <strong>map</strong> d'Observable ,elle prend des valeurs en entrée, les transforme et les
                renvoie en sortie.<br/><br/>
                La méthode <strong>filter</strong> d'Observable , elle prend des valeurs en entrée, et filterer avec des
                conditions puis return les result.
            </p>
        </mat-expansion-panel>
        <!--END MAP & FILTER-->

        <!--BEGIN Combination-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Combination
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <!--BEGIN combineLatest-->
            <app-combination></app-combination>
            <!--END combineLatest-->
        </mat-expansion-panel>
        <!--END Combination-->


    </mat-accordion>
</div>
